
    <div class="hire-parallax">
        <h1>
          <p class="title-greeter">For</p>
          <p class="title-name">
            <strong>Certification</strong>
          </p>
        </h1>
      </div>
      <div id="job">
        <div class="container">
            <div>
            <img
              class="logo"
              id="SAA-logo"
              src="/assets/SAA.png"
            />
          </div>
          <div>
            <img
              class="logo"
              id="DA-logo"
              src="/assets/DA.png"
            />
          </div>
          <div>
            <div id="job-title">
              <h2>Cloud Consulting</h2>
            </div>
            <div id="date-range">
              <h4>Solutions Architect and Data Analytics Specialty Certified</h4>
            </div>
            <div id="job-location">
              <h5></h5>
            </div>
          </div>
        </div>
        <div class="job-description">
          <p>
            Managing physical servers is costly and distracts you from doing what you do best, running your business. Whether it is setting up a simple website or making the next viral app. Scale seamlessly and resiliently while reducing costs.
          </p>
          <p>
            I am experience in AWS S3, Lambda, EC2, Load Balancers, and Data Managment. Contact me if you need help with your migration to the cloud!
          </p>
        </div>
          <div id="learn-more-button">
        <a
          type="button"
          class="btn btn-primary"
          href="https://iq.aws/e/haycloudconsulting"
          target="_blank"
          >AWS IQ Account</a
        >
      </div>
      </div>
