<p id="experience">
    <strong>Connect</strong>
  </p>
  <div class="container" id="social-logos">
    <a
      href="https://www.linkedin.com/in/andrew-hay/"
      id="social-logo-div"
      target="_blank"
    >
      <img
        id="social-logo"
        src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg"
      />
        <p>in/andrew-hay/</p>
    </a>
    <a
      href="https://github.com/AndrewCharlesHay"
      id="social-logo-div"
      target="_blank"
    >
      <img
        id="social-logo"
        src="https://www.flaticon.com/svg/static/icons/svg/25/25231.svg"
      />
        <p>AndrewCharlesHay</p>
    </a>
    <a
      href="mailto: andrewcharleshay96@gmail.com"
      id="social-logo-div"
      target="_blank"
    >
      <img id="social-logo" src="/assets/gmail.png" />
        <p>andrewcharleshay96</p>
    </a>
    <a
      href="https://calendar.google.com/calendar/u/0?cid=MzlzdW1lcjM5MzlAZ21haWwuY29t"
      id="social-logo-div"
      target="_blank"
    >
      <img id="social-logo" src="/assets/calendar.png" />
        <p>Calendar</p>
    </a>
  </div>
