  <div class="education-parallax">
    <h1>
        <p class="title-greeter">My</p>
        <p class="title-name">
          <strong>Education</strong>
        </p>
      </h1>
    </div>
    <div id="job">
      <div class="container">
        <div>
          <img
            loading="lazy" 
            class="logo"
            id="ohio-state-logo"
            src="assets/block_o.png"
          />
        </div>
        <div>
          <div id="job-title">
            <h2>The Ohio State University</h2>
          </div>
          <div id="date-range">
            <h4>August 2015 - May 2019</h4>
          </div>
          <div id="job-location">
            <h5>Industrial and Systems Engineering</h5>
          </div>
        </div>
      </div>
      <div class="job-description">
        <p>
          At The Ohio State I majored in Industrial and Systems Engineering with a
          focus in Management Systems and Operations Research. The advanced
          topics of non-linear programming and dynamic optimization were
          fansinating to me!
        </p>
        <p>
          I was also heavily involved in the Big Data Analytics Association
          (BDAA). We were host to a variety of insightful events, including
          hands-on workshops in which industry professionals teach our members
          about the hottest topics in data analytics, and case competitions in
          which members put the skills they have acquired to the test. I handled
          all the financials as the treasurer.
        </p>
      </div>
      <div id="learn-more-button">
        <a
          type="button"
          class="btn btn-primary"
          href="https://bdaaosu.org/aboutus/"
          target="_blank"
          >Learn More about BDAA</a
        >
      </div>
    </div>
