
    <div class="projects-parallax">
        <h1>
          <p class="title-name">
            <p class="title-greeter"></p>
            <strong>Projects</strong>
          </p>
        </h1>
      </div>
      <div id="job">
        <div class="container">
            <div>
            <img
              class="logo"
              id="d3-logo"
              src="/assets/d3.png"
            />
          </div>
          <div>
            <div id="job-title">
              <h2>Family History Visualization</h2>
            </div>
            <div id="date-range">
              <h4>January 2021</h4>
            </div>
            <div id="job-location">
              <h5>Tool: d3.js</h5>
            </div>
          </div>
        </div>
        <div class="job-description">
          <p>
          Inspired by Yannick Brouwer's <a href"https://www.youtube.com/channel/UC7j7fweYXUKYDTYVgT4c9zw">family history project</a>, I wanted to make my own.
          I wanted it to be able to be rendered nativaly in a browser which is what I used <a href="https://d3js.org/">d3.js</a>.
          d3.js is a powerful data visualization tool for javascript.
          All the data was manually pulled from <a href="ancestry.com">Ancestry.com</a> and ordered chronlogically to show the migration of my family over time.
          </p>
          <p>
          I find it fasinating that so many people's story lead to where I am today and I wanted to share it with my family and others.
          </p>
        </div>
          <div id="learn-more-button">
        <a
          type="button"
          class="btn btn-primary"
          href="http://andrewcharleshay.com/HayFamilyHistory/"
          target="_blank"
          >Family History</a
        >
      </div>
    </div>
