.hire-parallax {
    color: #ffffff;
    text-align: center;
    /* The image used */
    background-image: url("https://d2908q01vomqb2.cloudfront.net/8effee409c625e1a2d8f5033631840e6ce1dcb64/2020/01/10/ModernizationBlogSocialBanner_1_leftlogo_nocta.png");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }