.parallax {
    color: #000000;
    text-align: center;
    /* The image used */
    background-image: url("/assets/arizona.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .education-parallax {
    color: #ffffff;
    /* The image used */
    background-image: url("https://abc6onyourside.com/resources/media/2cfe1b60-d908-4437-9360-f6e3485fed8c-large16x9_OhioStateovalwithThompsonLibrary.jpg?1598896728434");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tech-parallax {
    color: #ffffff;
    /* The image used */
    background-image: url("https://image.freepik.com/free-vector/science-technology-background-with-hexagons-pattern-hi-tech-background-molecular-structures-chemical-engineering_120542-228.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .title-greeter{
      padding-top: 160px;
      align-content: center;
      text-align: center;
      font-size: 110%
  }
  .logo{
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  #andrew-hay{
    text-align: center;
    align-content: center;
  }
  .title-name{
      text-align: center;
      align-content: center;
  }
  #job-title{
      padding-top: 5%;
      padding-left: 3%;
      color: #001EE2;
  }
  #date-range{
      padding-left: 3%;
      padding-top: 1%;
      vertical-align: bottom;
      color: green;
  }
  #job{
      padding-left: 15%;
      padding-right: 15%;
      padding-bottom: 7%;
      font-family: 'Bitter', serif;
  }
  #experience{
      text-align: center;
      padding-top: 5%;
      padding-bottom: 3%;
      font-size: 30px;
      font-family: 'Arvo', serif;
  }
  #learn-more-button{
      padding-left: 3%;
  }
  #job-location{
      padding-left: 3%;
  }
  #command-alkon-logo{
      padding-top: 15%;
  }
  #ohio-state-logo{
      padding-top: 5%;
      padding-bottom: 5%;
  }
  #social-logo{
      height: 100px;
      align-items: center;
      align-content: center;
  }
  #social-logo-div{
      padding-left: 2%;
      padding-right: 2%;
      align-items: center;
      align-content: center;
  }
  #social-logos{
      padding-bottom: 5%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      align-content: center;
  }
  .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  #mail-logo{
      padding-bottom: 5%;
      width: 150px; /* width of container */
      height: 150px; /* height of container */
      object-fit: cover;
  }
  .container > div {
    width: 300px;
    margin: 10px;
  }
  .job-description{
      text-align: justify;
      text-justify: inter-word;
  }
